# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.temp
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
**/build/

# Android
.gradle/
android/.cxx/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Generated documentation
doc/api/

# Flutter symbols
app.*.symbols

# Keep this file tracked
!pubspec.lock